.tabs {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.tab-titles {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-titles li {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-titles li.active {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab-content {
  padding: 8px;
  background-color: #fff;
}

/* Responsivo para dispositivos menores */
@media (max-width: 768px) {
  .tabs {
    font-size: 14px;
  }

  .tab-titles li {
    padding: 4px;
    border-bottom: 1px solid #ccc;
    padding-top: 8px;
  }
}

/* Responsivo para dispositivos muito pequenos */
@media (max-width: 480px) {
  .tab-titles {
    flex-direction: column;
  }

  .tab-titles li {
    border-bottom: none;
    border-right: 1px solid #ccc;
  }

  .tab-titles li.active {
    border-right: 1px solid #007bff;
  }

  .tab-content {
    padding: 2px;
    padding-top: 8px;
  }
}