<label>{{label}}</label>
<!-- [disable]="it?.value == 'disable'" -->
<div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>
<select *ngIf="!loading" class="form-control"
        (change)="onChange($event.target.value)">
    <option value="" disabled [selected]="!initialSelect || initialSelect==''">Selecione</option>
    <option *ngFor="let it of options"
            [selected]="initialSelect==it.value" 
            value="{{ it.value }}">
        {{it.description}}
    </option>
</select>