<div class="card" [ngClass]="cardClass">
  <div class="card-header" *ngIf="hasHeader()" >
    <div class="card-title" *ngIf="title">
      <ng-container>
        {{ title }}
      </ng-container>
    </div>
    <div class="card-tools float-right" *ngIf="hasTools()">
      <button
        *ngIf="collapsible"
        type="button"
        class="btn btn-tool"
        (click)="toggleCollapse()"
        [attr.aria-expanded]="!collapsed"
        [attr.aria-label]="collapsed ? 'Expandir card' : 'Recolher card'">
        <i class="fas" [ngClass]="collapsed ? 'fa-plus' : 'fa-minus'"></i>
      </button>
    </div>
  </div>
  <div class="card-body" [hidden]="collapsed">
    <ng-content></ng-content>
  </div>
  <ng-content select="[card-footer]"></ng-content>
</div>
