<div class="card card-primary">
    <div class="card-header">
        <h5>Lotes do Item - {{itemCode}} - Selecione {{quantidade}} itens</h5>
    </div>
    <div class="card-body">
        <app-table 
            [content]="lotes" 
            [definition]="definition">
            []
        </app-table>
    </div>
    <div class="card-footer clearfix">
        <button class="btn"
            [class.btn-primary]="!isDisable()"
            [class.btn-danger]="isDisable()"
            [disabled]="isDisable()" (click)="confirmar()">
            Confirmar
        </button>

    </div>
    <div *ngIf="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>