
<div *ngIf="!isSelected()">
    <label for="id">Selecionar {{name}}</label>
    <div class="input-group">
        <input type="text" class="form-control" name="id" (keydown.enter)="disableSearch() ? {} : searchFunction()" [(ngModel)]="keyWord" placeholder="Buscar" />
        <span class="input-group-append">
            <button class="btn btn-primary" [disabled]="disableSearch()" (click)="searchFunction()">
                <i class="fas fa-search"></i> 
            </button>
        </span>
    </div>
</div>


<div *ngIf="isSelected()">
    <label for="id">{{name}} Selecionado</label>
    <div class="input-group">
        <input type="text" class="form-control" name="id" disabled="true" value="{{content.toString()}}" />
        <span class="input-group-append">
            <button class="btn btn-danger" (click)="clear()">
                <i class="far fa-times-circle"></i>
            </button>
        </span>
    </div>
</div>

<app-modal #busca>
    <app-resultado-search 
        [definition]="definition"
        [loading]="loading"
        [resultadoBusca]="resultadoBusca"
        (changePage)="changePageFunction($event)"
        (contentSelected)="action($event)">
    </app-resultado-search>
</app-modal>