<span class="sap-link-button-group">
  <button
    type="button"
    class="btn btn-sm sap-link-button"
    [ngClass]="buttonClass"
    [disabled]="disabled"
    [title]="title"
    (click)="abrir()">
    <span class="sap-link-button__external">
      <i class="fas fa-external-link-alt"></i>
    </span>
    <span class="sap-link-button__main">
      <span class="sap-link-button__label">
        <ng-container *ngIf="label; else projectedLabel">{{ label }}</ng-container>
        <ng-template #projectedLabel>
          <ng-content></ng-content>
        </ng-template>
      </span>
    </span>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary sap-link-button-copy"
    [disabled]="disabled || !valorParaCopiar"
    [title]="copiado ? 'Copiado' : 'Copiar FK'"
    (click)="copiar($event)">
    <i [ngClass]="copiado ? 'fas fa-check' : 'far fa-copy'"></i>
  </button>
</span>
