.pdf-container {
  font-family: Arial, sans-serif;
  width: 794px;
  height: auto;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  line-height: 1.6;
}

.pdf-container .info-section p,
.pdf-container .table-container th,
.pdf-container .table-container td {
  margin-bottom: 10px;
}

.pdf-container .table-container th,
.pdf-container .table-container td {
  padding: 8px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
}

.pdf-container .table-container th {
  background: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.header {
  text-align: center;
  margin-bottom: 20px;

  .logo {
    max-width: 200px;
    height: auto;
  }
}

.title-container {
  text-align: center;
  margin-bottom: 20px;

  h1 {
    font-size: 2rem;
    color: #1ba13f;
    margin: 0;
    font-weight: bold;
  }
}

.info-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;

  p {
    margin: 5px 0;
    font-size: 0.95rem;
    display: inline-block;
    margin-right: 20px;
  }
}

.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

.localidade-section {
  margin-bottom: 20px;

  h2 {
    font-size: 1.2rem;
    color: #1ba13f;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .product-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      text-align: left;
    }

    th:nth-child(5), /* Localidade */
    td:nth-child(5) {
      width: 15%; /* Ajuste proporcional para a coluna Localidade */
    }
  }
}

.divider {
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  margin-top: 30px;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
  padding-top: 10px;

  .footer-right {
    flex: 2; /* Ocupa mais espaço */
    text-align: center; /* Centraliza o texto da assinatura */
  }
}