

<section class="content">
    <!-- Default box -->
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Pedido de Venda</h1>
        </div>
    </div>
    <!-- 
        # TODO
        # Fazer directiva para colapsed
        # Fazer componente generico par busca
        # Fazer componente de busca de cliente
     -->
    <div class="container-fluid"> 
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>Busca</b></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <app-busines-partner-search></app-busines-partner-search>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid"> 
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>Pedido</b></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="find">Selecionar Cliente</label>
                            <input type="text" name="find" [disabled]="true" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid"> 
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>Identificação</b></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="find">Selecionar Cliente</label>
                            <input type="text" name="find" [disabled]="true" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-itens></app-itens>
    </div>
    
    <!-- 
        ### Carrinho de compra ###
            Produto
            Quantidade
            Tabela de preco, Somente se for vendedor!
            desconto? Somente se for vendedor!
    -->


                        <!-- 
                            ### Identificacao ### do cliente e tipo venda (tipo venda somente vendedor)
                                Buscar cliente - Cliente
                                Utilizacao
                                
                                Filial - oculto? Se estou logado (vendedor) a filial vem do contexto. 
                                    Se sou o cliente a filial vem do endereco/regial
                        -->


                        
                        
                        
                        
                        <!-- 
                            ### Checkout ### 
                                Data entrega
                                Forma de pagamento - Geralmente boleto
                                Condicao de pagamento
                                Frete? Entregar ou buscar
                                    Selecionar endereco de entrega e de cobranca?
                                Observacao
                        -->

    
</section>