

<section class="content">
    <!-- 
        # TODO
        # Fazer directiva para colapsed
        # Fazer componente generico par busca
        # Fazer componente de busca de cliente
     -->
     <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pedido de Venda</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid"> 
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>Identificação</b></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <app-branch-select #branch (selectedOut)="selectBranch($event)"></app-branch-select>
                        </div>
                    </div>
                    <div class="col-sm-2" *ngIf="branchId">
                        <div class="form-group">
                            <app-busines-partner-search (selected)="selectBp($event)" ></app-busines-partner-search>
                        </div>
                    </div>
                    <div class="col-sm-2" *ngIf="branchId">
                        <div class="form-group">
                            <app-select 
                            [options]="tipoOperacaoOptions" 
                            (selectedOut)="changeTipoOperacao($event)" 
                            [label]="'Operação'"></app-select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>

        <card-itens
            (changeItens)="changeItens($event)"
            *ngIf="branchId" 
            [geralLoading]="loading"
            [branchId]="branchId">
        </card-itens>
        
        <div *ngIf="branchId && businesPartner && itens?.length > 0" class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>Entrega</b></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="dataEntrega">Tipo Envio</label>
                            <app-radio [opcoes]="tipoEnvioRadio" (change)="tipoEnvioChange($event)"></app-radio>
                            <app-select *ngIf="tipoEnvio == 'ent'" 
                                [label]="'Seleciona Endereço'" 
                                [options]="businesPartner.getAddressOptions('bo_ShipTo')">
                            </app-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="dataEntrega">Data Entrega</label>
                            <input type="date" class="form-control" name="dataEntrega" [(ngModel)]="dtEntrega" >
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <app-forma-pagamento-select (selectedOut)="changeFormaPagamento($event)">
                            </app-forma-pagamento-select>
                        </div>
                    </div>
                    <div *ngIf="!isMutiplasTabelas()" class="col-sm-2">
                        <div class="form-group">
                            <app-condicao-pagamento-select [tabela]="getTabela()" (selectedOut)="changeAllCondicao($event)">
                            </app-condicao-pagamento-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="obs">Observacao</label>
                                <textarea class="form-control" id="obs" rows="2" [(ngModel)]="observacao"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>

        <div *ngIf="isMutiplasTabelas()" class="card card-primary">
            <div class="card-header">
                Este pedido contém múltiplas tabelas de venda; condições de pagamento distintas serão necessárias
            </div>
            <div *ngFor="let tabela of tabelas()" class="card-body">
                <div *ngFor="let item of itensBy(tabela); index as i" class="border-left border-primary pl-2">
                    <div *ngIf="i == 0">
                        <h5>{{item.ListName}} - Para os Itens </h5>
                        <app-condicao-pagamento-select [tabela]="item.PriceList" (selectedOut)="changeCondicaoPagamento($event)">
                        </app-condicao-pagamento-select>
                    </div>
                    <ul class="mt-2">
                        <li>
                            {{item.ItemDescription}}
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>

        <div class="card">
            <button *ngIf="!loading" [disabled]="!isFormValid()" (click)="sendOrder()" class="btn btn-success" type="submit" >Enviar Pedido</button>
            <button *ngIf="loading" [disabled]="true" class="btn btn-success" type="submit" >Enviando...</button>
        </div>
    </div>
</section>