// // .card-body table {
// //     overflow-y: scroll;
// // }

// body {
//     --table-width: 100%; /* Or any value, this will change dinamically */
//   }
//   tbody {
//     display:block;
//     max-height:500px;
//     overflow-y:auto;
//   }
//   thead, tbody tr {
//     display:table;
//     width: var(--table-width);
//     table-layout:fixed;
//   }


.app-action{
    margin-right: 5px;
}
  