/* Remover a transparência das linhas zebradas */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f2 !important; /* Cor sólida para faixas ímpares */
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #ffffff !important; /* Cor sólida para faixas pares */
}

.sticky-column {
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 1020; /* Evita sobreposição de outras células */
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.app-action{
    margin-right: 5px;
}

.scrolls{
  max-height: 80vh;
  overflow-x: scroll;
}

.table-input {
  text-align: right;
}

td{
  padding: 0.4rem;
}