<div id="tableCard">
  <div class="table-responsive tableCard">
    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let def of definition" scope="col">{{def.label}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of content">
          <td *ngFor="let def of definition" scope="col">
            <div [innerHTML]="renderContent(item,def) | appSafeHtml"></div>
          </td>
          <td>
            <div class="btn-group">
                <app-action class="btn-group" 
                  *ngFor="let action of item.getActions()"
                  [action]="action" 
                  (actionOutput)="evento($event)">
                </app-action>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

