
<br/>
<section class="content">
    <div *ngIf="!selected || selected == null" class="card card-primary">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">
                <b>Ordem de Carregamento - {{nomeUsuario}}</b>
            </h5>
        </div>
        <div class="card-body">                
            <app-table
                [content]="pageContent?.content" 
                [definition]="definition" 
                (actionOutput)="action($event)">
            </app-table>
        </div>
        <div class="card-footer clearfix">
            <app-paginacao
                (pageChange)="pageChange($event)" 
                [totalItens]="pageContent?.totalElements" 
                [pageSize]="pageContent?.size">
            </app-paginacao>
        </div>
        <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>
    <div *ngIf="selected">
        <app-ordem-carregamento-single 
            [selected]="selected"
            (close)="close()"
            >
        </app-ordem-carregamento-single>
    </div>
</section>