<div class="row">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Atenção, Vendedor!</h4>
        <p>
            Ao realizar a troca de produtos neste contrato de venda futura, siga as orientações abaixo para evitar problemas de pagamento e de valores:
        </p>
        <ul>
            <li>
                Se o novo produto e a quantidade selecionada superarem os valores do contrato original, o valor excedente será cobrado na mesma data da última parcela do contrato inicial.
            </li>
            <li>
                Caso o cliente deseje alterar as condições de pagamento para o valor adicional, será necessário cancelar este contrato e criar um novo acordo. 
            </li>
            <li>
                Recomendamos ajustar a quantidade e o valor do novo produto para que o total do contrato permaneça próximo ao valor atual. Assim, o valor adicional poderá ser acomodado em um novo contrato separado, mantendo as condições de pagamento já acordadas.
            </li>
            <li>
                Se a alteração resultar em um valor menor do que o original, os últimos boletos emitidos serão cancelados até que o valor remanescente contemple a mudança. É fundamental que o cliente esteja ciente dos novos títulos de pagamento que serão gerados.
            </li>
        </ul>
        <p class="mb-0">
            Por favor, revise atentamente os valores e, caso necessário, comunique-se com o cliente para alinhar as novas condições de pagamento e garantir que todas as mudanças sejam realizadas conforme o interesse de ambas as partes.
        </p>
    </div>            
</div>

<div class="card card-primary">
    <div class="card-header">
        Itens a serem substituídos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group">
                        <app-select #selectComponent [options]="filteredItems" 
                            [label]="'Item a ser subistituido'" 
                            (selectedOut)="selecionado($event)">
                        </app-select>
                    </div>
        
                    <div class="form-group">
                        <label for="quantity">Quantidade</label>
                        <input type="number" id="quantity" [(ngModel)]="quantity" name="quantity" class="form-control" required
                            [max]="selectedItem?.qtdDisponivel" />
                    </div>

                    <button type="button" class="btn btn-success" (click)="validateEhAdiciona()">
                        Trocar
                    </button>
                </form>
            </div>
        </div>
        <div class="row mt-2" *ngIf="itensRetirados.length > 0">
            <div class="col">
                <h5>Itens a serem substituídos.</h5>
                <ul class="list-group mt-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let item of itensRetirados; let i = index">
                        {{ item.descricao }} - Quantidade: {{ item.quantidade }}
                        <button class="btn btn-danger btn-sm" (click)="removerItem(i)">Remover</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer"> 
        <b>Total:</b> {{totalItensRetirada() | currency}}
    </div>
    <div *ngIf="loadingSalvar" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <card-itens
                [geralLoading]="loadingSalvar"
                [title]="'Novos Produtos'"
                (changeItens)="changeItensNovos($event)"
                [branchId]="branchId">
            </card-itens>
        </div>
    </div>
</div>


<div *ngIf="totalBalanco() != 0" class="row">
    <div class="col">
        <h4>Resultado financeiro</h4>
        <p *ngIf="totalBalanco() > 0"> O contrato sera acrescido no valor de: {{totalBalanco() | currency}}</p>
        <p *ngIf="totalBalanco() < 0"> O contrato sera reduzido no valor de: {{totalBalanco() | currency}}</p>
        <p></p>
    </div>
</div>


<div class="row" *ngIf="itensRetirados?.length > 0 && !loadingSalvar">
    <div class="col">
        <button (click)="salvarPedido()" class="btn btn-primary">Confirmar troca dos produtos</button>
    </div>
</div>