<div class="row">
    <div class="col-md-2">
        {{fatura.id}} <button (click)="selecionaFatura()">Selecionar</button>
        
    </div>
    <div class="col-1">
        {{fatura.data}}
    </div>
    <div class="col-sm-2 project_progress">
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">
            {{fatura.parcelas}} Complete
        </span>
    </div>
    <div class="col">
        {{fatura.valor}}
    </div>
    <div class="col-sm-2">
        {{fatura.vencimentoProximaParcela}}
    </div>
    <div class="col-sm-2">
        {{fatura.vencimentoUltimaParcela}}
    </div>
    <div class="col-sm-2 text-right">
        <a class="btn btn-primary" href="#"><i class="fas fa-eye"></i> Ver</a>
    </div>
</div>
<!-- 
<tr>
    <td>1</td>
    <td>Call of Duty</td>
    <td>455-981-221</td>
    <td>El snort testosterone trophy driving gloves handsome</td>
    <td>$64.50</td>
</tr> -->