
<section>
    <div class="container-fluid"> 
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>Gestao de Vendedor</b></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <app-sales-person-search (selected)="selectSp($event)" ></app-sales-person-search>
                        </div>
                    </div>      
                </div>
            </div>

        </div>
    </div>
</section>