<section>
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"><b>Gestão de Vendedor</b></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <app-sales-person-search (selected)="selectOriginSalesPerson($event)" [name]="'Vendedor Origem'"></app-sales-person-search>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <app-sales-person-search (selected)="selectDestinationSalesPerson($event)" [name]="'Vendedor Destino'"></app-sales-person-search>
            </div>
          </div>
          <div class="col-sm-2" style="margin-top: 32px;">
            <div class="form-group">
              <div class="card">
                <button *ngIf="!loading" [disabled]="!isFormValid()" (click)="sendOrder()" class="btn btn-success" type="submit" >Enviar Pedido</button>
                <button *ngIf="loading" [disabled]="true" class="btn btn-success" type="submit" >Enviando...</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
    </div>
  </div>
</section>
