.name-top{
    border-bottom: 10px solid #0000;
}

.btn-2{
    margin-left: 10px;
}

.btn-clear {
    background-color: red;
    color: white;
}

.nome-lista{
    color: green;
    border-bottom: 3px solid green;
    padding-bottom: 5px; 
    font-size: 20px;
}