.card-primary {
  border: 1px solid #d2d6de;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f3f8f2;
}

.btn-action {
  margin-top: 31px;
  margin-left: 10px;
}

.btn-clear {
  padding: 6px 10px;
  font-size: 14px;
}