<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Romaneios</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div *ngIf="carregando" class="card">
            <div class="card-header">
                <div class="overlay">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Romaneios de pesagem</h3>
                <div class="card-tools">
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse"
                    >
                        <i class="fa fa-minus"></i>x
                    </button>
                </div>
            </div>
            <div *ngIf="!carregando" class="card-body">
                <div *ngFor="let item of romaneiosPesagem" class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{item.DocNum}} - {{item.U_CodParceiro}} - {{item.U_NomeParceiro}} - Data {{castDate(item.CreateDate)}} </h4>
                        <div class="card-tools top">
                            <button [routerLink]="['/entrada-insumo',item.DocNum]" type="button" class="btn">
                                <i class="fa fa-clipboard"></i> Entrada Insumo
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>{{item.U_ObsRomaneio}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-paginacao (pageChange)="loadPage($event)" [totalItens]="total" [pageSize]="size"></app-paginacao>
            </div>
        </div>
        
    </div>
</section>