<section *ngIf="!finalizado" class="content">
    <!-- Default box -->
    <br />
    <div class="container-fluid legend">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title"><b>Fatura Selecionada</b></h3>
            </div>
            <div class="card-body">                
                <div *ngIf="faturaSelecionada" class="fatura-selecionada">
                    <app-fatura-selecionada 
                        (close)="descelecionarFatura($event)" 
                        [fatura]="faturaSelecionada">
                    </app-fatura-selecionada>
                </div>
                <app-table *ngIf="!faturaSelecionada" 
                    [content]="faturas" 
                    (actionOutput)="action($event)"
                    [definition]="definition">
                </app-table>
            </div>
        </div>
    </div>
</section>