
<section *ngIf="!finalizado" class="content">

    <br />

    <app-lista-fatura *ngIf="clienteSelecionado"
    [clienteSelecionado]="clienteSelecionado"
        (closeEvent)="close()">
    </app-lista-fatura>


    <app-auth-fatura *ngIf="contatosOpcoes && !clienteSelecionado" 
        [opcoes]="contatosOpcoes" 
        [cpf]="cpfCnpjInput" 
        (getCodigo)="recebeCodigo($event)">
    </app-auth-fatura>

    <div class="card card-info" *ngIf="!contatosOpcoes && !this.clienteSelecionado">
        <div class="card-header">
            <h3 class="card-title"><b>Extrato de 2ª Via de fatura</b></h3>
        </div>
        <div class="card-body">                
            <div class="form-group">
                <label for="cpfCnpj">Entre com CPF ou CNPJ</label>
                <input type="text" placeholder="CPF ou CNPJ"
                    class="form-control" id="cpfCnpj" 
                    [ngModel]="cpfCnpjInput | cpfCnpj"
                    (ngModelChange)="cpfCnpjInput=$event">
            </div>
            <div class="form-group">
                <button (click)="buscarContatos()" [disabled]="disableAvancar" class="btn btn-primary" >Avançar</button>
            </div>
        </div>
    </div>
</section>