<li class="nav-item" 
    [ngClass]="openClass()"
    >
    <a
        (click)="handleMainMenuAction(menuItem.path)"
        class="nav-link"
        [ngClass]="{active: isMainActive}"
    >
        <i class="nav-icon {{ menuItem.iconClasses }}"></i>
        <p>
            {{ menuItem.name }}
            <i *ngIf="isExpandable"
                class="right fas fa-angle-right"
                [@rotate]="isMenuExtended"
            ></i>
        </p>
    </a>
    <!-- sem subs menus -->
    <ul class="nav nav-treeview" [@openClose]="isMenuExtended" *ngFor="let item of menuItem.children">
        <li class="nav-item">
            <a
                (click)="handleMainMenuAction(item.path)"
                class="nav-link"
                [ngClass]="{active: isPath(item.path)}"
            >
                <i class="nav-icon {{ item.iconClasses }}"></i>
                <p>{{ item.name }}</p>
            </a>
        </li>
    </ul>
</li>