<br>
<section class="content">
    <div *ngIf="!selected || selected == null" class="card card-primary">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">
                <b>Venda Futura - {{nomeUsuario}}</b>
            </h5>
            <!-- TODO adicionar condicional que ocuta o botao -->
            <div class="custom-switch ml-auto">
                <input class="custom-control-input" type="checkbox" id="all" [checked]="all" (change)="onToggleAll()">
                <label class="custom-control-label" for="all">Ver todos os vendedores</label>
            </div>
        </div>
        <div class="card-body">                
            <app-table
                [content]="pageContent?.content" 
                [definition]="definition" 
                (actionOutput)="action($event)">
            </app-table>
        </div>
        <div class="card-footer clearfix">
            <app-paginacao
                (pageChange)="pageChange($event)" 
                [totalItens]="pageContent?.totalElements" 
                [pageSize]="pageContent?.size">
            </app-paginacao>
        </div>
        <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>
    <div *ngIf="selected">
        <app-venda-futura-single 
            [selected]="selected"
            (close)="close()"
            >
            
        </app-venda-futura-single>
    </div>
</section>