<label for="id">Selecionar Cliente</label>
<div class="input-group">
    <input type="text" class="form-control" name="id" [(ngModel)]="keyWord" placeholder="Buscar">
    <span class="input-group-append">
        <button class="btn btn-primary" [disabled]="!keyWord || keyWord.length < 1" (click)="buscar()">
            <i class="fas fa-search"></i> 
        </button>
    </span>
</div>

<app-modal #buscaCliente>
    <app-table *ngIf="!carregadoBusca" [content]="resultadoBusca" [definition]="definition" (actionOutput)="action($event)"></app-table>
    <div *ngIf="carregadoBusca" class="text-center">
        <i class="fas fa-2x fa-sync fa-spin"></i>
    </div>
</app-modal>
<app-table *ngIf="!carregadoBusca" [content]="resultadoBusca" [definition]="definition" (actionOutput)="action($event)"></app-table>
<div>
    {{businesPartnerSelected?.CardName}}
</div>