
<br>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"><b>Custo de Produção</b> - <small>{{receita.Descricao}}</small></h3>
        <div class="card-tools float-right">
            <button name="voltar" class="btn btn-warning btn-sm" (click)="voltar()">voltar</button> 
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="qtdPlanejada">Quantidade planejada</label>
                    <input class="form-control" id="qtdPlanejada" (input)="changeQtdPlanejuada($event)" type="number" [(ngModel)]="qtdPlanejada">
                </div>
            </div>
        </div>
            <div class="form-group">
                <app-table 
                    [content]="receita?.Ingredientes" 
                    [definition]="definition">
                </app-table>
            </div>
            
        <div>
            <h5>Resumo</h5>
            
            <p><b>Valor total da receita: {{ resumo() }}</b></p>
        </div>
    </div>
    <div *ngIf="false" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>