<div class="card card-primary">
<div class="card-header header-preco">
  <div class="header-left">
    <h3 class="card-title mb-0">
      <b>Formação de Preços</b>
    </h3>
  </div>

  <div class="header-right">
    <button type="button" class="btn btn-secondary btn-sm" (click)="voltar()">
      <i class="fas fa-arrow-left"></i> Voltar
    </button>
  </div>
</div>
    <div class="card-body">
        <div class="form-group">
            <div class="row align-items-center g-2 flex-wrap">
                <div class="col-12 col-lg">
                    <div class="d-flex flex-wrap gap-2">
                        <div class="custom-switch ml-auto">
                            <input class="custom-control-input" type="checkbox" id="all" [checked]="isCustoSap()" (change)="onToggleCustoSap()">
                            <label class="custom-control-label" for="all">Custo Saco, receita ou contabil? {{isCustoSap() ? 'Contabil' : 'Receita'}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto">
                    <div class="btn-group flex-wrap w-100 header-actions">
                        <button class="btn btn-default" (click)="modalChangeCustos($event)">Custos Materia Prima</button>
                        <button class="btn btn-default" (click)="modalAdicioanrItem($event)">Adicionar Itens</button>
                        <button class="btn btn-default" (click)="modalAtualizarCustos($event)">Atualizar Custo (media)</button>
                        <button class="btn btn-danger" (click)="imprimirPdf()">
                            <i class="fas fa-file-pdf"></i> Gerar PDF
                        </button>
                        <button class="btn btn-default" (click)="modalPrazos.openModal()">
    <i class="fas fa-calendar-alt"></i> Definir Prazos
</button>
                    </div>
                </div>
                <label for="pageSize" class="col-auto col-form-label">Itens por pagina</label>
                <div class="col-1">
                    <input class="form-control" type="number" id="pageSize" [(ngModel)]="pageSize">
                </div>
                <div class="col-sm">
                    <input  type="text" [(ngModel)]="analise.descricao">
                    <button class="btn btn-primary" (click)="salvar($event)">Salvar</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="table-scroll">
                <app-table
                    [editableDynamic]="true"
                    [content]="getProdutosPaginado()" 
                    [definition]="definition" 
                    (actionOutput)="action($event)">
                </app-table>
            </div>
        </div>
    </div>
    <div class="card-footer clearfix">
        <app-paginacao (pageChange)="changePage($event)" [totalItens]="analise.produtos.length" [pageSize]="pageSize"></app-paginacao>
    </div>
    <div *ngIf="false" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>

<app-modal #custoMercadoria 
    [title]="'Custo das mateiras prima'"> 
    <app-table #table [content]="getArrayUniqueIngredients()" [definition]="materiaCustoDefinition">

    </app-table>
    <hr>
    <div class="row">
        <button (click)="changeCustoAllProdutos()" class="btn btn-primary">Confrimar</button>
    </div>
</app-modal>

<app-modal #modalAdicionarItem 
    [title]="'Adicionar Item'"> 
    <selecao-produto-calc (solicitarProdutos)="solicitarProdutos($event)"></selecao-produto-calc>
</app-modal>



<app-modal modalAtualizaCustos
    [(show)]="showModalAtualizaCustos"
    [title]="'Atualizar Custos'">
    <div *ngIf="!loadingCustos" class="row">
        <label for="tipoCustosAcabado">Origem Custo</label>
        <select class="form-control" name="tipoCustosAcabado" [(ngModel)]="tipoCustosAcabado">
            <option value="-1" selected disabled>Selecione</option>
            <option value="precoAnalisado">Ultimo Preço Analisado</option>
            <option value="precoCompra">Ultimpo Preço de Compra</option>
            <option value="precoContabil">Custo Contabil</option>
            <option value="precoCustoProducao">Custo Apontado p/ Produção</option>
        </select>
    </div>
    <hr>
    <div *ngIf="!loadingCustos" class="row">
        <div class="btn-group">
            <button (click)="atualizaCustosAcabado()" [disabled]="loadingCustos" class="btn btn-default">Produto Acabado</button>
            <button (click)="atualizaCustosMateriaPrima()" [disabled]="loadingCustos" class="btn btn-default">Materia Prima</button>
        </div>
    </div>
    <div class="row" *ngIf="loadingCustos">
        <app-progress-bar [total]="totalProgressBar" [current]="currentProgressBar" ></app-progress-bar>
    </div>
</app-modal>

<app-modal #modalPrazosPagamento [title]="'Prazos de Pagamento'">
    <div class="card-body">
        <div class="row" *ngFor="let prazo of analise.prazos; let i = index">
            <div class="col-sm-8">
                <label>{{ prazo.descricao }}</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="number" class="form-control" [(ngModel)]="prazo.fator">
                </div>
            </div>
        </div>
    </div>
</app-modal>

<app-calculadora-pdf #calculadoraPdf [analise]="analise"></app-calculadora-pdf>
