<div class="card card-primary">
  <div class="card-header">
    <b>Carrinho de Compra</b>
    <div class="card-tools" *ngIf="itens && itens.length > 0">
      {{itens.length}} item{{itens.length > 1 ? "s" : ""}}
    </div>
  </div>
  <div class="card-body py-3 px-1">
    <div class="row m-0 p-0">
      <div *ngIf="showThumbnail" class="col p-0"></div>
      <div class="col-3 m-0 p-0 ml-2 text-center">
        Descrição
      </div>
      <div class="col-2 m-0 p-0 ml-2 text-center">
        Qtd
      </div>
      <div class="col-3 m-0 p-0 ml-2 text-center">
        Valor
      </div>
      <div class="col m-0 p-0 ml-2">
      </div>
    </div>
    <hr>
    <div *ngFor="let item of itens" class="align-items-center mb-4 mx-1 p-0 items rounded">
      <div class="row m-0 p-0">
          <div *ngIf="showThumbnail" class="col p-0">
            <img class="img-fluid teste border-0 m-0" src="https://i.imgur.com/1GrakTl.jpg" alt="Generic placeholder image">
          </div>
          <div class="col-3 m-0 p-0 ml-2">
            <div class="row m-0 p-0">QUIRELA DE MILHO FINA</div>
            <div class="row m-0 p-0 text-muted">R$: 5,49 por KG</div>
          </div>
          <div class="col-2 m-0 p-0 ml-2 text-center">
            <div class="input-group m-0">
              <input class="form-control text-center p-1" type="number" value="300">
            </div>
          </div>
          <div class="col-3 m-0 p-0 ml-2 text-center">
            <div class="input-group m-0">
              <div class="col-sm">
                  <input class="form-control text-center p-1" type="number" placeholder="desc">
              </div>
              <div class="col-sm text-center">
                <span class="text-nowrap small text-center">R$ 54.231,00</span>
              </div>
            </div>
          </div>
          <div class="col m-0 p-0 ml-2">
            <div class="float-right">
              <button type="button" class="btn btn-sm ml-1 small" title="Remove item">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>