<div class="card card-primary">
  <div class="card-header">
    <b>{{title}}</b>
    <div class="card-tools" *ngIf="itens && itens.length > 0">
      {{itens.length}} item{{itens.length > 1 ? "s" : ""}}
    </div>
  </div>
  <div class="card-body py-3 px-1">
    <div class="col mb-4">
      <app-item-search (contentSelected)="addItem($event)" [title]="'Selecione um produto'" [branchId]="branchId"></app-item-search>
    </div>
    <div class="row m-0 p-0">
      <div *ngIf="showThumbnail" class="col p-0"></div>
      <div class="col-3 m-0 p-0 ml-2 text-center">
        Descrição
      </div>
      <div class="col-3 m-0 p-0 ml-2 text-center">
        Qtd | Desc %
      </div>
      <div class="col-3 m-0 p-0 ml-2 text-center">
        Valor
      </div>
      <div class="col m-0 p-0 ml-2">
      </div>
    </div>
    <hr>
    <div *ngFor="let item of itens" class="align-items-center mb-4 mx-1 p-0 items rounded">
      <div class="row m-0 p-0">
          <div *ngIf="showThumbnail && item.urlImagem != null" class="col p-0">
            <img class="img-fluid teste border-0 m-0" src="{{item.urlImagem}}" alt="Generic placeholder image">
          </div>
          <div class="col-3 m-0 p-0 ml-2">
            <div class="row m-0 p-0">{{item.ItemDescription}}</div>
            <div class="row m-0 p-0 text-muted">{{item.unitPriceBrl()}} por {{item.SalUnitMsr}}</div>
          </div>
          <div class="col-3 m-0 p-0 ml-2 text-center">
            <div class="input-group m-0">
              <input class="form-control text-center p-1" type="number" [(ngModel)]="item.quantidade">
              <!-- <input class="form-control text-center p-1" type="number" [(ngModel)]="item.desconto" placeholder="desc"> -->
              <desconto [valor]="item.antesDescontoFinanceiroNumber()" (descontoPercentual)="item.aplicaDesconto($event)"></desconto>
            </div>
          </div>
          <div class="col-3 m-0 p-0 ml-2 text-center">
            <div class="input-group m-0">
              <div class="col-sm text-center">
                <span class="text-nowrap small text-center">{{item.total()}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm m-0 p-0 ml-2">
            <div class="float-right">
              <button (click)="remover(item)" type="button" class="btn btn-sm ml-1 small" title="Remove item">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <b>Total:</b> {{total() | currency}}
  </div>
  <div *ngIf="geralLoading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>
</div>