@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';

@import 'admin-lte/node_modules/bootstrap/scss/functions';
@import 'admin-lte/build/scss/bootstrap-variables';

@import 'admin-lte/node_modules/bootstrap/scss/bootstrap';

@import 'ngx-toastr/toastr';
@import 'admin-lte/build/scss/variables';
@import 'admin-lte/build/scss/variables-alt';

@import 'admin-lte/build/scss/mixins';

@import 'admin-lte/build/scss/parts/core';

@import 'admin-lte/build/scss/parts/components';
@import 'admin-lte/build/scss/parts/extra-components';
@import 'admin-lte/build/scss/parts/pages';
@import 'admin-lte/build/scss/parts/plugins';

// @import 'admin-lte/build/scss/parts/miscellaneous';

@import 'admin-lte/build/scss/miscellaneous';
@import 'admin-lte/build/scss/print';
@import 'admin-lte/build/scss/text';
@import 'admin-lte/build/scss/elevation';
// @import 'admin-lte/build/scss/colors';



body {
    width: 100vw;
    height: 100vh;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.content {
    padding: 0 0.5rem;
}

// Sidebar menu animation
// Needed for open/close menu animation for menus with child nodes
.nav .nav-item:not(.menu-open) > .ng-trigger-openClose,
.nav .nav-item > .ng-trigger-openClose.ng-animating {
    overflow: hidden;
    display: block;
}

// Override original AdminLTE transform
.nav-sidebar .menu-is-opening > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-open > .nav-link svg.right {
    transform: none;
}





:root {
    --bs-primary: #25A246; /* Cor primária padrão do Bootstrap */
    --bs-primary-dark: #25A246; /* Cor escura personalizada para hover */
    --bs-primary-text: white; /* Cor do texto padrão */
    --bs-success: #198754; /* Cor de sucesso padrão do Bootstrap */
    --bs-success-dark: #157347; /* Cor escura personalizada para hover */
    --bs-success-text: white; /* Cor do texto padrão */
  }

.my-custom-style {
    background-color: var(--bs-primary);
    padding: .5rem 0;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-primary-text);
}
  
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--bs-primary-dark);
  border-color: var(--bs-primary-dark);
}

.btn-success {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-success-text);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: var(--bs-success-dark);
  border-color: var(--bs-success-dark);
}

.card-primary.card-outline {
  border-top-color: var(--bs-primary);
}

.card-primary:not(.card-outline) > .card-header {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-primary-text);
}

.card-success:not(.card-outline) > .card-header {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-success-text);
}

blockquote.quote-info
.quote-info {
  border-color: var(--bs-primary);
  color: var(--bs-primary-text);
}