/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';

@import 'admin-lte/node_modules/bootstrap/scss/functions';
@import 'admin-lte/build/scss/bootstrap-variables';


@import 'ngx-toastr/toastr';

$custom-color: #25A246;


$theme-colors: (
  "primary": #25A246,
  "success": #007bff
);






.my-custom-style {
    background-color: $custom-color;
    padding: .5rem 0;
}

@import 'admin-lte/node_modules/bootstrap/scss/bootstrap';

@import 'admin-lte/build/scss/variables';
@import 'admin-lte/build/scss/variables-alt';

@import 'admin-lte/build/scss/mixins';

@import 'admin-lte/build/scss/parts/core';

@import 'admin-lte/build/scss/parts/components';
@import 'admin-lte/build/scss/parts/extra-components';
@import 'admin-lte/build/scss/parts/pages';
@import 'admin-lte/build/scss/parts/plugins';

// @import 'admin-lte/build/scss/parts/miscellaneous';

@import 'admin-lte/build/scss/miscellaneous';
@import 'admin-lte/build/scss/print';
@import 'admin-lte/build/scss/text';
@import 'admin-lte/build/scss/elevation';
// @import 'admin-lte/build/scss/colors';



.btn-color {
    @include button-variant($custom-color, $custom-color);
}


body {
    width: 100vw;
    height: 100vh;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.content {
    padding: 0 0.5rem;
}

// Sidebar menu animation
// Needed for open/close menu animation for menus with child nodes
.nav .nav-item:not(.menu-open) > .ng-trigger-openClose,
.nav .nav-item > .ng-trigger-openClose.ng-animating {
    overflow: hidden;
    display: block;
}

// Override original AdminLTE transform
.nav-sidebar .menu-is-opening > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-open > .nav-link svg.right {
    transform: none;
}