<div class="login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Informe sua nova senha</p>
                <div class="input-group mb-3">
                    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="passwordCheck" type="password" class="form-control" placeholder="Repita a senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button [disabled]="!password || !(password == passwordCheck)" (click)="trocarSenha()" type="submit" class="btn btn-warning btn-block">Trocar Senha</button>
                    </div>
                </div>
                <!-- <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p> -->
            </div>
            <div *ngIf="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>
    </div>
</div>