<div class="card card-primary" *ngIf="analiseSelected == null">
    <div class="card-header">
        <h3 class="card-title">Análises</h3>
    </div>
    <div class="card-body">
        <h5>Relatorios Salvos</h5>
        <div *ngFor="let it of relatoriosSalvos">
            <div class="form-group">
                <button (click)="carregaAnalise(it)" class="btn btn-primary">{{it}} || Carregar</button>
                <button (click)="excluirAnalise(it)" class="btn btn-danger">Excluir</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="form-group">
                <button (click)="criarAnalise()" class="btn btn-primary">Criar Análise</button>
            </div>
        </div>
    </div>
    <div *ngIf="false" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>


<selecao-produto-calc *ngIf="isSelectProduto()" (solicitarProdutos)="solicitarProdutos($event)"></selecao-produto-calc>

<formacao-preco *ngIf="isFormacaoPreco()" [analise]="analiseSelected" (close)="fecharAnalise()"></formacao-preco>

<custo-mercadoria *ngIf="isCustoMercadoria()" 
    (voltarEvnt)="custoMercadoriaVoltar()" 
    [receita]="produtoSelecionado">
</custo-mercadoria>
