# This is a basic workflow to help you get started with Actions
name: 'Windows Build'

on:
  push:
    tags:
      - "v*.*.*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        node-version: [18]

    # The type of runner that the job will run on
    runs-on: windows-latest

    steps:

    - name: Teste relese
      uses: softprops/action-gh-release@v1
      with:
        files: package.json

    - uses: actions/checkout@v3

    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm`
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.6.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm i
    
    - name: Build the app
      run: |
        npm run electron:build
        ls
        ls release

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./release/*.zip