<br>
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"><b>Detalhes da Venda Futura</b></h3>
            <div *ngIf="!loadingEntregas" class="card-tools float-right">
                <button (click)="openModalRetirada()" type="button" class="btn btn-warning btn-sm mr-2">
                    Retirar
                </button>
                <button (click)="openModalTroca()" type="button" class="btn btn-warning btn-sm">
                    Troca
                </button>
                <button (click)="abrirModalPreview()" type="button" class="btn btn-warning btn-sm" style="margin-left: 8px;">
                    Visualizar PDF
                  </button>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Número do Contrato:</dt>
                <dd class="col-sm-9">{{ selected.DocEntry }}</dd>

                <dt class="col-sm-3">Número do Pedido:</dt>
                <dd class="col-sm-9">{{ selected.U_orderDocEntry }}</dd>

                <dt class="col-sm-3">Código do Cliente:</dt>
                <dd class="col-sm-9">{{ selected.U_cardCode }}</dd>

                <dt class="col-sm-3">Nome do Cliente:</dt>
                <dd class="col-sm-9">{{ selected.U_cardName }}</dd>

                <dt class="col-sm-3">Valor do Frete:</dt>
                <dd class="col-sm-9">{{ selected.frete }}</dd>

                <dt class="col-sm-3">Valor Total:</dt>
                <dd class="col-sm-9">{{ selected.totalCurrency }}</dd>

                <dt class="col-sm-3">Data de Criação:</dt>
                <dd class="col-sm-9">{{ selected.dataCriacao }}</dd>

                <dd class="col-sm">
                    <app-tabs>
                        <app-tab tabTitle="Produtos" [active]="true">
                            <app-table
                                [content]="selected?.AR_CF_LINHACollection" 
                                [definition]="definition" 
                                (actionOutput)="action($event)">
                            </app-table>
                        </app-tab>

                        <app-tab tabTitle="Boletos">
                            <div *ngIf="loadingBoletos" class="overlay">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <app-table
                                *ngIf="!loadingBoletos"
                                [content]="boletos" 
                                [definition]="boletosDefinition" 
                                (actionOutput)="action($event)">
                            </app-table>
                        </app-tab>

                        <app-tab tabTitle="Entregas">
                            <div *ngIf="loadingEntregas" class="overlay">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <app-table
                                *ngIf="!loadingEntregas"
                                [content]="entregas" 
                                [definition]="entregasDefinition" 
                                (actionOutput)="action($event)">
                            </app-table>
                        </app-tab>
                        
                    </app-tabs>
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
        </div>
    </div>
</section>

<app-modal #retirada [title]="'Retirada de Produtos'">
    <app-venda-futura-retirada 
        [vendaFutura]="selected" 
        (retirados)="closeModal($event)">
    </app-venda-futura-retirada>
</app-modal>

<app-modal #troca [title]="'Troca de Produtos'">
    <app-venda-futura-troca 
        [vendaFutura]="selected" 
        (closeModal)="closeModal($event)">
    </app-venda-futura-troca>
</app-modal>

<app-modal #previewModal [title]="'Preview do PDF'" style="width: 80%; max-width: 1200px;">
    <div class="pdf-preview-container" style="height: 80vh;">
      <div class="pdf-toolbar">
        <button (click)="gerarPDF()" class="btn btn-success btn-sm">Gerar PDF</button>
      </div>
      <div class="pdf-preview" style="overflow: auto; border: 1px solid #ccc; height: calc(100% - 50px);">
        <div class="pdf-preview-content" style="padding: 20px;">
          <app-gerar-pdf [vendaFutura]="selected"></app-gerar-pdf>
        </div>
      </div>
    </div>
  </app-modal>
  